@import '../../../sass/mixins/_media.scss';

.container {
    margin: 0 auto;
    padding: 0 16px;
    min-width: var(--mobile);

    @include tablet-only {
        min-width: var(--tablet);
        padding: 0 32px;
    }
    @include desktop-only {
        min-width: var(--desktop);
        padding: 0 60px;
    }
}