@import '../../../sass/mixins/_media.scss';

.container {
    margin: 0 auto;
    padding: 0 16px;

    @include mobile-only {
        width: var(--mobile);
    }
    @include tablet-only {
        width: var(--tablet);
    }
    @include desktop-only {
        width: var(--desktop);
    }
}