@import '../../sass/mixins/_media.scss';

.container {
    padding-top: 140px;
}
.heading {
    margin-bottom: 50px;
}
.user_list {
    margin-bottom: 54px;

    @include tablet-only {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        margin-bottom: 50px;
    }
    @include desktop-only {
        grid-template-columns: repeat(3, 1fr);
        gap: 29px;
    }
}
.list_item:not(:last-child) {
    margin-bottom: 20px;
}
.btn {
    min-width: 120px;
}