.input {
    display: block;
    width: 100%;
    padding: 14px 0 14px 16px;
    border: 1px solid var(--clr-input);
    border-radius: 4px;
    color: var(--clr-input);
    background-color: var(--clr-bg-primary);
    cursor: pointer;
}