@import 'normalize.css';
@import './styles/reset.css';
@import './styles/variables.css';
@import './sass/main.scss';

body {
  margin: 0;
  font-family: var(--ff-400);
  font-weight: var(--fw-400);
  font-size: var(--fs-400);
  line-height: var(--lh-400);

  background-color: var(--clr-bg-primary);
}

