@import '../../../sass/placeholders/_visually-hidden.scss';
@import '../../../sass/mixins/_media.scss';

.fileloader {
    display: none;
}
.label {
    position: relative;
    display: block;
    width: 100%;
    padding: 13px 0 13px 99px;
    text-align: left;
    border: 1px solid var(--clr-input);
    border-radius: 4px;
    color: var(--clr-input);
    cursor: pointer;

    @include tablet-only {
        width: 380px;
        height: 54px;
    }
}
.upload_btn {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 83px;
    height: 100%;
    padding: 14px 15px;
    font: inherit;
    border: 1px solid var(--clr-dark-semi-solid);
    border-radius: 4px 0 0 4px;
    color: var(--clr-dark-semi-solid);
    background-color: transparent;

    cursor: pointer;

    &:disabled {
        cursor: auto;
    }
    &:not(:disabled):active {
        box-shadow: inset 0px 0px 9px -4px var(--clr-dark-solid)
    }
}